body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-image: url("./assets/burger-friends.jpg");
  background-position: center;
  background-size: cover;
}

header {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0fb9b1;
}

footer {
  font-size: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9%;
  background-color: rgba(225, 225, 225, .9);
  display: none;
}

.login-home {
  background-color: rgba(225, 225, 225, .9);
  border-radius: 25px;
  border: solid 60px #0fb9b1;
  margin-left: 22%;
  margin-top: 10%;
  height: 400px;
  width: 700px;
  opacity: .95;
  font-size: 22px;
}

button {
  border-radius: 2px;
  background-color: rgba(225, 225, 225, .9);
  border-radius: 5px;
  padding: 10px;
  border: none;
  display: block;
}

.lets-cook {
  background-color: #0fb9b1;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 2%;
  padding-left: 50px;
  padding-right: 50px;
  align-items: flex-start;
}

.add-recipe-button {
  align-items: right;
  margin-right: 20px;
  float: right;
}

.cookpot-image {
  height: 30%;
  width: 30%;
  margin-top: 32%;
}

.boxed {
margin-top: 4%;
background-color: rgba(225, 225, 225, .9);
height: 460px;
width: 540px;
display: block;
}

#right-pane {
margin-right: 8%;
float: right;
text-align: center;
}

#left-pane {
 margin-left: 8%;
 float: left;
 text-align: left;
}

.main-page {
  display: flex;
}

h1 {
  font-size: 30px;
}

.box-title {
  font-weight: bold;
  padding-top: 2%;
  padding-left: 10%;
}

.asterisk {
  color:#ee5253;
}

.radio-button {
  font-size: 20px;
  padding-bottom: 4%;
  padding-left: 10%;
}


.suggestion {
  font-style: italic;
  font-size: 20px;
  display: none;
  margin-top: 32%;
}

h2 {
  font-size: 26px;
  font-weight: 900;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.clear {
  background-color: #95a5a6;
  align-items: right;
  margin-right: 5%;
  margin-top: 9%;
  float: right;
  color: rgba(225, 225, 225, .9);
  display: none;
}

.add-new {
  background-color: #0fb9b1;
  font-size: 15px;
  margin-left: 2%;
  padding-top: 12px;
}

.form-inline {
  padding-top: 12px;
  padding-left: 35px;
  display: flex;
}

.form-group {
  margin-left: 24px;
  font-size: 19px;
}

.form-control {
  height: 40px;
  width: 200px;
  border: solid 2px #95a5a6;
  border-radius: 5px;
  font-size: 20px;
}

#submit {
  background-color: #0fb9b1;
  margin-left: 245px;
  margin-top: -222px;
  font-size: 20px;
  padding: 9px;
}

#user-name {
  font-size: 17px;
  display: flex;
}

#pot-kitchen {
  margin-top: -130px;
  margin-left: 230px;
  height: 78%;
  width: 78%;
}

.welcome {
  font-size: 60px;
  margin-top: 0px;
  padding-left: 20px;
}

.unique-greeting {
  margin-left: 10%;
  color: #0fb9b1;
}
